<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>Detalhes do Evento</title>
		<meta charset="UTF-8" />
		
		<!-- INÍCIO IMPORTAÇÃO NECESSÁRIA PARA UTILIZAÇÃO DO MATERIALIZE -->
		
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
		<!-- FIM IMPORTAÇÃO NECESSÁRIA PARA UTILIZAÇÃO DO MATERIALIZE -->
	</head>

	<body>

		<h2>Lista de Eventos</h2>
		<a href="/eventos" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Lista de Eventos</a>
			
		<div th:each="evento : ${evento}" class="container">
			<div class="row">
				<p>Data:
					<span th:text="${evento.data}"></span>
				</p>
				<p>Horário:
					<span th:text="${evento.horario}"></span>
				</p>
				<p>Local:
					<span th:text="${evento.local}"></span>
				</p>
				<p>Nome:
					<span th:text="${evento.nome}"></span>
				</p>
			</div>
			
			<th:block th:include="mensagemValidacao"></th:block>
			
			<h5>Convidar</h5>
			<form method="POST">
				<label>Nome</label>
				<input type="text" value="" name="nomeConvidado" />
				
				<label>RG</label>
				<input type="text" value="" name="rg" />
				
				<button type="submit" class="waves-effect waves-light btn">Adicinar Convidado</button>
			</form>
			
			<br />
			<h5>Lista de Convidados</h5>
			<div class="" th:each="convidado : ${convidados}">
				<div class="row">
					<div class="card-panel teal lighten-4 input-field col s6">
						<span th:text="${convidado.nomeConvidado}"></span>
					</div>
						
					<div class="card-panel teal lighten-4 input-field col s3">
						<span th:text="${convidado.rg}"></span>
					</div>
				</div>
			</div>
		</div>
		
		

		
		<!-- INÍCIO IMPORTAÇÃO NECESSÁRIA PARA UTILIZAÇÃO DO MATERIALIZE -->
		
		<!--JavaScript at end of body for optimized loading-->
		<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
		
		<!-- FIM IMPORTAÇÃO NECESSÁRIA PARA UTILIZAÇÃO DO MATERIALIZE -->
	</body>
</html>