<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>EventosApp</title>
		<meta charset="UTF-8" />
	</head>

	<body>

		<h1>Cadastro de eventos</h1>
		
		<form method="POST">
		
			<label>Nome</label>
			<input type="text" value="" name="nome" />
			
			<label>Local</label>
			<input type="text" value="" name="local" />
			
			<label>Data</label>
			<input type="date" value="" name="data" />
			
			<label>Horário</label>
			<input type="text" value="" name="horario" />
			
			<button type="submit">Salvar</button>
			
		</form>

	</body>
</html>